h2 {
  margin: 0;
}

a {
  cursor: pointer;
}

.songs-entry {
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
}

.songs-entry a {
  display: block;
  color: rgb(0, 68, 255);
  font-style: italic;
}

.songs_box,
.podcast_box {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid royalblue;
}

.podcast_section {
  margin-top: 4rem;
}

button {
  padding: 0.7rem 1.3rem;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 1.3rem;

  color: white;

  background-image: url(https://img.freepik.com/free-vector/glowing-musical-pentagram-background-with-sound-notes_1017-31220.jpg?w=1800&t=st=1706313164~exp=1706313764~hmac=7994dc3c5e4c0d6f45135c5b350be3cecb8e58d463f0e8bc5c2d70cbf6c44805);
  background-image: url(musicbg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  transition: all 0.35s linear;
  cursor: pointer;

  margin-bottom: 2.5rem;
}

button:hover {
  scale: 1.1;
  outline: none;
  border: none;
  background-position: bottom;
}
