h2 {
  margin: 0;
}

.songs-entry {
  border-bottom: 2px solid saddlebrown;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
}

.songs-entry a {
  display: block;
  color: rgb(0, 68, 255);
  font-style: italic;
}

.podcasts-entry {
  border-bottom: 2px solid royalblue;
}

.songs_box,
.podcast_box {
  display: flex;
  flex-wrap: wrap;
}

.podcast_section {
  margin-top: 4rem;
}
